html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

body {
  background-image: url("assets/img/KirbyFondo.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Angular root ocupa toda la pantalla */
app-root {
  min-height: 100vh;
  display: block;
}


/*jajaajajajajjajajajajjajaajajajajja*/

/* Asegura que nada se salga del ancho de la pantalla */
html, body {
  overflow-x: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* Las imágenes nunca serán más anchas que la pantalla */
img {
  max-width: 100%;
  height: auto;
}

/* Contenedor responsivo genérico para tus páginas */
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}